body {
    background-color: beige;
}

#board,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    border: 2px solid black;
    font-size: 0;
    margin-right: 30px;
}

.row div {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

.row div.on {
    background-color: #00a2e8;
}

#instructions {
    width: 325px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}
